## Importing Libraries

In [2]:
# loading and preprocessing data 
import numpy as np
import pandas as pd

# visualizing data 
import matplotlib.pyplot as plt
import seaborn as sns

## data splitting 

## modeling

## Loading & Viewing Data

In [4]:
data = pd.read_csv("dataset/gender_wage_gap.csv")

In [5]:
## creating a copy of the data
df = data.copy()

In [8]:
## display the first five rows
df.head()

,year,men_median,men_average,women_median,women_average,white_men_median,white_men_average,black_men_median,black_men_average,hispanic_men_median,hispanic_men_average,white_women_median,white_women_average,black_women_median,black_women_average,hispanic_women_median,hispanic_women_average
0,2022,24.91,35.82,20.74,27.86,27.11,39.10,20.02,27.43,19.99,26.63,22.47,29.50,19.00,23.99,17.54,22.60
1,2021,24.93,35.61,21.46,28.28,27.76,38.78,20.08,26.88,20.20,26.45,22.76,29.90,18.85,24.13,17.77,22.90
2,2020,25.95,36.03,21.72,28.75,28.36,39.08,20.56,27.40,20.41,27.05,23.05,30.30,19.26,24.87,17.55,23.03
3,2019,24.04,33.65,20.42,26.83,27.39,36.84,19.31,25.18,19.39,25.08,22.01,28.41,18.08,23.17,17.08,21.50
4,2018,23.42,33.19,19.73,26.21,26.79,36.55,18.66,24.67,18.77,24.55,21.75,28.01,17.34,22.55,16.24,20.60

In [9]:
## display the last five rows
df.tail()

,year,men_median,men_average,women_median,women_average,white_men_median,white_men_average,black_men_median,black_men_average,hispanic_men_median,hispanic_men_average,white_women_median,white_women_average,black_women_median,black_women_average,hispanic_women_median,hispanic_women_average
45,1977,23.92,26.73,15.11,17.44,24.94,27.66,18.70,20.84,18.61,21.53,15.33,17.57,14.06,16.91,13.25,15.45
46,1976,23.69,26.73,15.22,17.64,24.32,27.54,19.19,21.57,18.56,21.07,15.42,17.79,13.97,16.73,13.77,15.84
47,1975,24.08,26.46,15.08,17.24,24.68,27.37,19.15,20.60,18.43,20.39,15.32,17.45,13.41,16.14,13.50,15.07
48,1974,23.70,26.48,14.88,17.01,24.55,27.34,19.02,20.84,18.60,21.14,15.22,17.23,13.46,15.68,13.26,15.42
49,1973,24.00,26.96,15.10,17.31,24.98,27.93,19.29,21.09,18.67,20.67,15.36,17.57,13.38,15.83,13.78,15.39

## Data Understanding

In [13]:
print(f"Total number of rows -> {df.shape[0]} , Total number of Columns -> {df.shape[1]}.")

Total number of rows -> 50 , Total number of Columns -> 17.

In [15]:
## summary stats about the data
df.describe().round()

,year,men_median,men_average,women_median,women_average,white_men_median,white_men_average,black_men_median,black_men_average,hispanic_men_median,hispanic_men_average,white_women_median,white_women_average,black_women_median,black_women_average,hispanic_women_median,hispanic_women_average
count,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
mean,1998.0,23.0,29.0,18.0,22.0,25.0,31.0,19.0,23.0,17.0,21.0,18.0,23.0,16.0,20.0,15.0,18.0
std,15.0,1.0,3.0,2.0,3.0,1.0,3.0,1.0,2.0,1.0,2.0,2.0,4.0,2.0,2.0,1.0,2.0
min,1973.0,22.0,26.0,15.0,17.0,23.0,27.0,17.0,20.0,15.0,19.0,15.0,17.0,13.0,16.0,13.0,15.0
25%,1985.0,23.0,27.0,16.0,19.0,24.0,28.0,18.0,21.0,16.0,21.0,16.0,19.0,15.0,17.0,14.0,16.0
50%,1998.0,23.0,28.0,17.0,21.0,25.0,30.0,19.0,22.0,17.0,21.0,18.0,22.0,16.0,19.0,14.0,17.0
75%,2010.0,24.0,30.0,19.0,24.0,26.0,33.0,19.0,24.0,18.0,22.0,20.0,26.0,17.0,21.0,15.0,19.0
max,2022.0,26.0,36.0,22.0,29.0,28.0,39.0,21.0,27.0,20.0,27.0,23.0,30.0,19.0,25.0,18.0,23.0

In [17]:
## lets find the column names
df.columns

Index(['year', 'men_median', 'men_average', 'women_median', 'women_average',
       'white_men_median', 'white_men_average', 'black_men_median',
       'black_men_average', 'hispanic_men_median', 'hispanic_men_average',
       'white_women_median', 'white_women_average', 'black_women_median',
       'black_women_average', 'hispanic_women_median',
       'hispanic_women_average'],
      dtype='object')